# Editors
/.idea/

# Python
__pycache__/
/venv/

# Project
/data/

# Jupyter
/notebook/**/.*
/src/**/.*

# PostgreSQL
/postgresql/data/

# Neo4j
/neo4j/data/
/neo4j/logs/
/neo4j/plugins
/neo4j/import/
/neo4j/bkups
